*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: monospace;
    text-align: center;
    background-image:linear-gradient(to left,rgb(0,50,150),rgb(150,50,0),rgb(50,0,150));
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    max-width: 90%;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
}

h1{
    margin-bottom: 50px;
}

.choix{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
    margin-bottom: 30px;
}

.choix button{
    border-radius: 50%;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: lightblue;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
}

.content > div{
    background-color: blue;
    color: white;
    padding: 30px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.content > div h2{
    background-color: brown;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.content > div span{
   display: block;
   font-size:20px;
   font-weight: bold;
}

h1{
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(100 50 0 /80%);
    animation: back 1s infinite 2s ease;
    padding: 10px 0;
    border-radius: 20px;
    color: beige;
    text-shadow: 0 0 15px antiquewhite;
}


.red{
    color: red;
}


.green{
    color: green;
}

@keyframes back{
  
    0%{
        background-color: rgba(100 50 0 /80%);
    }

    50%{
        background-color: rgba(0 100 50 /80%);
    }

    100%{
        background-color: rgba(100 50 0 /80%);
    }
}

@media(max-width:768px){
    h1{
        font-size: 20px;
    }
}

